* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://img5.goodfon.ru/wallpaper/nbig/5/50/listia-tropicheskie-fon-tekstura.jpg");
}
.conteiner1 {
  margin: 30px;
  display: flex;
  justify-content: space-evenly;
}

.conteiner2 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 5px;
}
.small {
  width: 15%;
  height: 10%;
  border: 5px solid rgb(247, 247, 58);
  border-radius: 10px;
}
.small:hover {
  border: 8px solid rgb(4, 237, 254);
}

.big {
  width: 35%;
  height: 35%;
  border: 5px solid rgb(247, 247, 58);
  border-radius: 10px;
}
